*cache*
*checkpoint*
*egg*
*json*
*build*
*.pyc
__pycache__/

# S1S2-water specific
s1s2_water/data/*
s1s2_water/tiles/*
!s1s2_water/data/catalog.json
s1s2_water/split_data/*

experiments/*
!experiments/.gitkeep
s1s2_water_finetune/
Prithvi-100M
backbones/*
hls-gfm.ipynb
sandbox.ipynb